<Config>
	<!-- display debug information. Also if exception occurs, it gets copied to clipboard -->
	<DebugMode>false</DebugMode>
	<!-- defines how many times you can cheer regardless of your skills -->
	<BaselineCheerAmount>2</BaselineCheerAmount>
	<!-- you receive an additional cheer every X Leadership levels. Values lower than 1 will be set to 1. -->
	<CheersPerXLeadershipLevels>50</CheersPerXLeadershipLevels>
	<!-- should morale change be displayed in message box? -->
	<ReportMoraleChange>true</ReportMoraleChange>
	<!-- should we prevent negative morale change (for friendly units)? -->
	<PreventNegativeMorale>true</PreventNegativeMorale>
	<!-- how high your leadership has to be for it to affect enemies? -->
	<EnemyMoraleLeadershipThreshold>75</EnemyMoraleLeadershipThreshold>
	<!-- morale change will never exceed this amount (or it's negative) -->
	<MaximumMoralePerAgent>7</MaximumMoralePerAgent>
	<!-- a key that will apply cheering, default is V (47)
	full code list: https://pastebin.com/v5Vz84ys -->
	<KeyCode>47</KeyCode>

	<!-- AI section -->
	<AI>
		<!-- if set to true, AI heroes (both enemy and friendly) will be able to cheer -->
		<Enabled>true</Enabled>
		<!-- defines how many times AI can cheer regardless of it's skills -->
		<BaselineCheerAmount>2</BaselineCheerAmount>
		<!-- AI receives an additional cheer every X Leadership levels. Values lower than 1 will be set to 1. -->
		<CheersPerXLeadershipLevels>100</CheersPerXLeadershipLevels>
		<!-- morale change will never exceed this amount (or it's negative) -->
		<MaximumMoralePerAgent>7</MaximumMoralePerAgent>
		<!-- determines whether to display "X cheers, boosting..." announcemend on the top of the screen -->
		<DisplayAnnouncement>true</DisplayAnnouncement>
		<!-- determines whether AI commander death will reduce morale of nearby soldiers -->
		<ImpactfulDeath>true</ImpactfulDeath>
		<!-- if above is true, how much morale should nearby soldiers lose? range: 1 - 100 -->
		<DeathMoraleDecrease>3</DeathMoraleDecrease>
	</AI>

	<!-- Responsive Orders section -->
	<ResponsiveOrders>
		<!-- if set to true, units you make orders to will audibly react -->
		<Enabled>true</Enabled>
	</ResponsiveOrders>
</Config>