<Config>
	<Cheering>
		<!-- display debug information. Also if exception occurs, it gets copied to clipboard -->
		<DebugMode>false</DebugMode>
		<!-- defines how many times you can cheer regardless of your skills -->
		<BaselineCheerAmount>2</BaselineCheerAmount>
		<!-- you receive an additional cheer every X Leadership levels. Values 	lower than 1 will be set to 1. -->
		<CheersPerXLeadershipLevels>50</CheersPerXLeadershipLevels>
		<!-- should morale change be displayed in message box? -->
		<ReportMoraleChange>true</ReportMoraleChange>
		<!-- should we prevent negative morale change (for friendly units)? -->
		<PreventNegativeMorale>true</PreventNegativeMorale>
		<!-- how high your leadership has to be for it to affect enemies? -->
		<EnemyMoraleLeadershipThreshold>75</EnemyMoraleLeadershipThreshold>
		<!-- morale change will never exceed this amount (or it's negative) -->
		<MaximumMoralePerAgent>8</MaximumMoralePerAgent>
		<!-- a maximum amount of morale that can be granted for battle advantage (	or it's negative) -->
		<MaximumAdvantageMorale>3</MaximumAdvantageMorale>
		<!-- a key that will apply cheering, default is V (47)
		full code list: https://pastebin.com/v5Vz84ys -->
		<KeyCode>47</KeyCode>
	</Cheering>

	<!-- AI section -->
	<AI>
		<!-- if set to true, AI heroes (both enemy and friendly) will be able to cheer -->
		<Enabled>true</Enabled>
		<!-- defines how many times AI can cheer regardless of it's skills -->
		<BaselineCheerAmount>2</BaselineCheerAmount>
		<!-- AI receives an additional cheer every X Leadership levels. Values lower than 1 will be set to 1. -->
		<CheersPerXLeadershipLevels>100</CheersPerXLeadershipLevels>
		<!-- morale change will never exceed this amount (or it's negative) -->
		<MaximumMoralePerAgent>8</MaximumMoralePerAgent>
		<!-- a maximum amount of morale that can be granted for battle advantage (or it's negative) -->
		<MaximumAdvantageMorale>3</MaximumAdvantageMorale>
		<!-- determines whether to display "X cheers, boosting..." announcemend on the top of the screen -->
		<DisplayAnnouncement>true</DisplayAnnouncement>
		<!-- determines whether AI commander death will reduce morale of nearby soldiers -->
		<ImpactfulDeath>true</ImpactfulDeath>
		<!-- if above is true, how much morale should nearby soldiers lose? range: 1 - 100 -->
		<DeathMoraleDecrease>3</DeathMoraleDecrease>
		<PersonalEffects>
			<!-- if enabled, if you kill enemy leader personally you will gain some renown and negative relationship-->
			<Enabled>true</Enabled>
			<!-- how much renown do you gain by killing enemy leader? -->
			<RenownGain>5</RenownGain>
			<!-- how much relationship changes? -->
			<RelationshipChange>-1</RelationshipChange>
		</PersonalEffects>
	</AI>

	<!-- Responsive Orders section -->
	<ResponsiveOrders>
		<!-- if set to true, units you make orders to will audibly react -->
		<Enabled>true</Enabled>
		<!-- the minimum amount of troops that will reply to your orders (afterwards it's + Leadership / 25) -->
		<BaselineResponseCount>16</BaselineResponseCount>
		<!-- if set to true, your soldiers will yell when charging for a bit longer -->
		<ContinuousChargeYell>true</ContinuousChargeYell>
		<Horn>
			<!-- if set to true, horns are blown when orders are issued (has an internal cooldown) -->
			<Enabled>true</Enabled>
			<!-- you need a minimum of x soldiers in party to enable horns (applies to you and AI) -->
			<MinTroopsToEnable>40</MinTroopsToEnable>
			<!-- A minimum distance to play horns. 0 by default. -->
			<MinDistanceToEnable>0</MinDistanceToEnable>
			<!-- here you can lower the maximum volume of the horns. 1 = 100%, 0.5 = 50% -->
			<MaxVolume>0.9</MaxVolume>
			<!-- when you cheer after being victorious, tries to play a custom horn (note that is has to exist) -->
			<!-- you'll have to use your own sound file unless you like easter eggs -->
			<AddHornWhenVictoryCheering>true</AddHornWhenVictoryCheering>
			<!-- if enabled, it won't check your character's culture, will always use default instead -->
			<AlwaysUseDefault>false</AlwaysUseDefault>
		</Horn>
	</ResponsiveOrders>
</Config>
